<a href="#compose" class="button prime btnCompose"><span class="caption">{{_i18n "mail:compose"}}</span></a></div>
<div class="navigator mailNav">
  <ul>
      <li class="nav-inbox"><a href="#inbox">{{_i18n "mail:inbox"}}</a></li>
      <li class="nav-sent"><a href="#sent">{{_i18n "mail:sent"}}</a></li>
      <li class="nav-draft"><a href="#draft">{{_i18n "mail:draft"}}</a></li>
      <li class="nav-trash"><a href="#trash">{{_i18n "mail:trash"}}</a></li>
      <li class="nav-spam"><a href="#spam">{{_i18n "mail:spam"}}</a></li>
  </ul>
</div>

