<div class="composeView">
    <div class="compose-header">
        <div class="field">
            <div class="label">{{_i18n "mail:.to"}}</div>
            <div class="inputbox toInputWrapper"></div>
        </div>
        <div class="field ccLine" style="display:none">
            <div class="label">{{_i18n "mail:.cc"}}</div>
            <div class="inputbox ccInputWrapper"></div>
        </div>
        <div class="field bccLine" style="display:none">
            <div class="label">{{_i18n "mail:.bcc"}}</div>
            <div class="inputbox bccInputWrapper"></div>
        </div>
        <div class="field-options">
            <span class="link addCc">{{_i18n "mail:addcc"}}</span>
            <span  class="link addBcc">{{_i18n "mail:addBcc"}}</span>
        </div>
        <div class=field>
            <div class="label">{{_i18n "mail:.subject"}}</div>
            <div class="inputbox"><input type="text" class="subject" value={{subject}}></input></div>
        </div>
    </div>
    <div class="compose-editor" contenteditable="true">{{body}}
    </div>
</div>